<meta charset="UTF-8">
<%- partial('_pre') %>
<div class='l_main<%- page.sidebar == false ? ' no_sidebar' : '' %>'>
  <%- partial('_partial/archive') %>
</div>
<%- partial('_partial/side') %>

<script src="https://cdn.jsdelivr.net/npm/echarts@5.0.2/dist/echarts.min.js"></script>
<script>
 $('#parallax-window').circleMagic({
      radius: 10,
      density: .1,
      color: 'rgba(255,255,255, .4)',
      clearOffset: .9
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
  <script>
    //打字座右铭效果
    try {
      var typed = new Typed(".l_side p", {
        strings: ['醒亦念卿，梦亦念卿', '频繁记录，只因生活和你太值得❤'],//字符串
        startDelay: 50,//开始的延迟
        typeSpeed: 200,//打字速度
        backSpeed: 100,//回退速度
        loop: true,//是否循环
        showCursor: false,//显示游标
        shuffle: false//是否随机
      });
    } catch (err) {
    }
  </script>